@media (prefers-color-scheme: dark) {
    body {
        --back: black;
        --fore: #e3e3e3;
        --link: rgb(89, 131, 209);
        --border: #777;
        --system: #9cdcda;
        --username: rgb(186, 134, 197);
        --anon-hash: rgb(192, 119, 156);
        --pending: #333333;
        --rejected: #200;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --back: white;
        --fore: black;
        --link: blue;
        --border: #ccc;
        --system: black;
        --username: grey;
        --anon-hash: darkslategray;
        --pending: #ddd;
        --rejected: #faa;
    }
}

body {
    max-width: 800px;
    overflow-wrap: break-word;
}

body,
textarea,
input {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
}

textarea {
    width: 95%;
    height: 8em;
}

@media (min-width: 800px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: justify;
    }
}

input[type="submit"] {
    margin-top: 7px;
}

input,
textarea {
    border-radius: 5px;
    border-color: var(--border);
}

textarea {
    padding: 5px;
}

a {
    color: var(--link);
}

fieldset {
    border-color: var(--back);
    border-radius: 5px;
}

.system {
    color: var(--system);
}

form#approve-form,
form#reject-form {
    display: inline;
}

div.post {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 15px;
}

span.anon-hash {
    color: var(--anon-hash);
}

span.username {
    color: var(--username);
}

div.pending {
    background: var(--pending);
    padding: 10px;
}

div.rejected {
    background: var(--rejected);
    padding: 10px;
}

input#post-button {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

pre {
    font-family: Consolas, monospace;
    font-size: 12px;
    white-space: pre-wrap;
}
